<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">BetterReads Data Loader</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">This application will upload the authors and books data to the Apache Cassandra database
            hosted at DataStax.<br><br>
            Open Library provides monthly bulk data dumps for authors (around 3GB) and books (around 13GB). These <code>.txt</code>
            files are split into smaller files and uploaded on AWS S3.
            <br> The Test option below will establish connection with AWS, read <b>test</b> files for both authors and
            works and upload that data to the Cassandra database.
            <br> The Prod option below will establish connection with AWS, read <b>prod</b> files for both authors and
            works and upload that data to the Cassandra database.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a type="button" href="/test" class="btn btn-primary btn-lg px-4 gap-3">Test</a>
            <a type="button" href="/prod" class="btn btn-outline-secondary btn-lg px-4">Prod</a>
        </div>
    </div>
</div>
</body>
</html>